* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}
  
.navbar{
    height: 60px;
    padding-left: 30px;
}
  
.logo{
    line-height: 60px;
    float: left;
}
  
.logo img{
    vertical-align: middle;
}

.navbar ul{
    float: right;
}
  
.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}
  
.navbar a{
    text-decoration: none;
    color: black;
    /* font-style: bold; */
    font-size: 13px;
}
  
body h1{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 30px;
    color: #000000;
}

.productRegisterBox{
    padding: 0; margin: 0;
    height: 450px;
    width: 500px;
    float: right;
}

.productRegisterBox form{
    width: 100%; height: 500px;
    background-color: #fff;
    padding: 0px;
    box-sizing: border-box;
}

.productRegisterBox fieldset{
    border: none;
    height: 500px;
}

.productRegisterBox label{
    display: block;
    font-size: 20px; color: #333;
    font-weight: bold;
    margin-bottom: 4px;
}

.productRegisterBox input{
    display: block;
    width: 100%; height: 50px;
    margin-bottom: 10px;
    border: none; background-color: #ededed;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
}

.productRegisterBox textarea{
    resize: none;
    display: block;
    width: 100%; height: 230px;
    margin-bottom: 10px;
    border: none; background-color: #ededed;
    padding: 10px 20px;
    font-size: 15px;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

.productButton{
    display: block;
    width: 85px;
    height: 40px;
    float: right;
    margin: 0 auto;
    margin-right: 30px;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight:bold;
}

/* .pictureButton{
    display: block;
    width: 85px;
    height: 40px;
    float: left;
    margin: 0 auto;
    margin-left: 182.5px;
    margin-top: 10px;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight:bold;
} */
.fileUploadDesign button {
    display: block;
    width: 85px;
    height: 40px;
    float: left;
    margin: 0 auto;
    margin-left: 182.5px;
    margin-top: 10px;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight:bold;
}

.fileUploadDesign input {
    /* display: block; */
    display: none;
    /* width: 85px;
    height: 40px;
    float: left;
    margin: 0 auto;
    margin-left: 182.5px;
    margin-top: 10px;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight:bold; */
}

.products {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 950px;
    /* text-align: center; */
}

.products img{
    width: 450px;
    height: 450px;
    /* margin-right: 20px; */
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
}
  
.clearfix{
    clear: both;
}
  
.footer{
    text-align: center;
}
  
.footer img{
    margin-top: 40px;
    height: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
}