* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}

.navbar{
    height: 60px;
    padding-left: 30px;
}

.logo{
    line-height: 60px;
    float: left;
}

.logo img{
    vertical-align: middle;
}

.navbar ul{
    float: right;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
}

body h1{
    text-align: left;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 310px;
    font-size: 24px;
    font-style: bold;
    color: #000000;
}

.productRegisterButton{
    height: 30px;
}


.products{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 840px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
}

.products img{
    width: 150px;
    height: 150px;
    margin-left: -200px;
}

.products a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 16px;
    width: 0px;
    display: block;
}

.productInfo{
    float: left;
}

.productEditButton{
    height: 30px;
    ;
}

.clearfix{
    clear: both;
}

.footer{
    text-align: center;
}

.footer img{
    margin-top: 40px;
    height: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
}