* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 992px;
    font-family: "Helvetica";
}

.navbar{
    height: 60px;
    padding-left: 30px;
}

.logo{
    line-height: 60px;
    float: left;
}

.logo img{
    vertical-align: middle;
}

.navbar ul{
    float: right;
}

.navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
}

body h1{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
    font-style: bold;
    color: #000000;
}

.pageList{
    margin:auto;
    width: 840px;
}

.bar{
    display: flex;
    align-items: center;
}

.productRegisterButton{
    cursor: pointer;
    height: 40px;
    width: 70px;
    margin-left: auto;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight: bold;
}

.products{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 840px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.products img{
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.productInfo{
    float: left;
}

.productEditButton{
    cursor: pointer;
    margin-left: auto;
    height: 30px;
    float: right;
    width: 70px;
    border: none;
    background-color: #1673ea;
    color: #fff; font-size: 14px; font-weight: bold;
}