<!DOCTYPE html>

<html>
    <head>
        <title>트레이딩 사이트</title>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="static/css/index.css">
    </head>

    <body>
        <div class="navbar">

            <a class="logo" href="./">
            <img src="static/images/dgu-logo.jpg?v=1" height="70px">
            </a>

            <ul>
                {% if session['ID'] %}
                    <li><a href="#">{{session['ID']}}님 환영합니다!</a></li>
                    <li><a href="./mypage/{{session['ID']}}">마이페이지</a></li>
                    <li><a href="./logout">로그아웃</a></li>
                {% else %}
                    <li><a href="./signin">로그인</a></li>
                    <li><a href="./signup">회원가입</a></li>
                {% endif %}
            </ul>
        </div>

        <h1>Product</h1>

        <div class="container">
            <h2>키워드 : </h2>
            <button type="button" data-filter="all">전체</button>
            <button type="button" data-filter=".clothes">옷</button>
            <button type="button" data-filter=".shoes">신발</button>
            <button type="button" data-filter=".food">음식</button>

            {% if session['ID'] %}
                <button type="button" data-filter="
                {% set result = '' %}
                {% for user_temp in user %}
                    {% if user_temp.ID == session['ID'] %}
                        {% for i in range(user_temp.FOLLOWING | length )%}
                            {% set result = result ~ '.' ~ user_temp.FOLLOWING[i] %}
                            {% if i != (user_temp.FOLLOWING | length) - 1 %}
                                {{ result ~ ', '}}
                            {% else %}
                                {{ result }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                ">팔로우</button>
            {% endif %}
        </div>

        <div class="products">
            {% for entry in entries %}
                
                <div class="mix {{entry.keyword}} {{ entry.ID }}">
                    <a href="./itemspec/{{ entry._id }}">
                        <img src="{{ entry.photo }}">
                        <p>{{ entry.item }}</p>
                        <p class="price">{{ entry.price }}₩</p>
                        {% if entry.sold == true %}
                        <p>판매완료</p>
                        {% endif %}
                    </a>
                </div>
            {% else %}
                <p>Unbelievable.  No entries here so far</p>
            {% endfor %}
        </div>
    
        <div class="footer"></div>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="../static/js/mixitup.min.js"></script>

        <script>
            var mixer = mixitup('.products');
        </script>
    </body>
</html>