<!DOCTYPE html>

<html>
    <head>
        <title>트레이딩 사이트</title>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/item_register.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function (e) {
                
                var fileTarget = $('#multiFiles');

                fileTarget.on('change', function() {
                    var form_data = new FormData();
                    var ins = document.getElementById('multiFiles').files.length;

                    if (ins == 0) {
                        $('#msg').html('<span style="color: red">Select at least one file</span');
                            return;
                    }
                    /*
                    for (var x = 0; x < ins; x++) {
                        form_data.append("file", document.getElementById('multiFiles').files[x]);
                    }
                    */
                    form_data.append("file", document.getElementById('multiFiles').files[0]);

                    for (var key of form_data.keys()) {
                        console.log(key, ":", form_data.get(key));
                    }
                    $.ajax({
                        url: '/file_upload', // 라우팅할 곳
                        dataType: 'JSON',
                        cache: false,
                        contentType: false,
                        processData: false,
                        enctype: 'multipart/form-data',
                        data: form_data,
                        type: 'POST',
                        success: function(response) {
                            /*$('msg').html('');
                            $.each(response, function (key, data) {
                                if (key !== 'message') {
                                    $('#msg').append(key + ' -> ' + data + '<br/>');
                                } else {
                                    $('#msg').append(data + '<br/>');
                                }
                            })*/
                            alert("complete");
                        },
                        error: function (response) {
                            // $('#msg').html(response.message);
                            alert("fail");
                        }
                    });

                })

            
            });
        </script>
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/dgu-logo.jpg') }}" height="70px">
            </a>
            <ul>
                <li><a href="{{ url_for('logout') }}">로그아웃</a></li>   
            </ul>
        </div>
    
        <h1>상품 등록</h1>

        <div class="products">
            <img src="{{ url_for('static', filename=image_file) }}">

            <div class="productRegisterBox">
                <form action="/item_register" method="POST">
                    <fieldset>
                        <label for="productName">상품명</label>
                        <input type="text" name="productName" placeholder="내용을 입력해주세요.">

                        <label for="productPrice">가격</label>
                        <input type="text" name="productPrice" placeholder="내용을 입력해주세요.">

                        <label for="productExplain">상품 설명</label>
                        <textarea class="productExplain" name="productExplain" placeholder="내용을 입력해주세요."></textarea>

                        <select class="productKeyword" name="productKeyword"> <!-- 이 부분 작동 확실하지 않음-->
                            <option value="clothes">옷</option>
                            <option value="shoes">신발</option>
                            <option value="food">음식</option>
                        </select>

                        <button class="productButton" type="submit">상품 등록</button>
                    </fieldset>
                </form>
            </div>

            <div class="fileUploadDesign">

                <dl>
                    <p>
                        <label class="inputFileButton" for="multiFiles">
                            Upload
                        </label>
                        <input type="file" id="multiFiles" name="file" multiple="multiple"/>
                        <p id="msg"></p>
                    </p>
                </dl>
            </div>

            <div class="clearfix"></div>
        </div>
    
        <div class="footer"></div>
    </body>
</html>