<!DOCTYPE html>

<html>
    <head>
        <title>트레이딩 사이트</title>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="{{ url_for('static', filename="css/item_spec.css") }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename="images/dgu-logo.jpg") }}" height="70px">
            </a>
            <ul>
                {% if session['ID'] %}
                    <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">로그인</a></li>
                    <li><a href="{{ url_for('sign_up') }}">회원가입</a></li>
                {% endif %}
            </ul>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#followButtonClick').click(function() {

                    console.log('{{iteminfo.ID}}');

                    $.ajax({
                        url: '/follow/{{iteminfo.ID}}',
                        type: 'POST',

                        success: function (response) {
                            let msg = response;

                            if (msg['message'] == 'sign in first') {
                                //alert(msg['message']);
                                alert('Sign in first');
                                return;
                            } else if (msg['message'] == 'Success Follow') {
                                // 팔로우 버튼 바뀌는거 표시하기
                                //alert(msg['message']);
                                alert('Success Follow');
                                return;
                            }
                        },
                        error: function (response) {
                            let msg = response;
                            if (msg['message'] == 'do not follow yourself') {
                                alert('Do not follow yourself');
                                return;
                            } else {
                                alert('Undefined error!');
                                return;
                            }
                        
                        }
                    });
                });
            });
        </script>
    
        <h1>{{ iteminfo.ID }}의 상품</h1>
<!--
        {% if session['ID'] %}
            <div class="followButton">
                <form action="{{ url_for('follow', userid=iteminfo.ID) }}" method="POST">
                    <button type="submit">Follow</button>
                </form>
            </div>
        {% endif %}
-->
        {% if (session['ID'] != iteminfo.ID) and session['ID']  %}
            <div class="followButton">
                <button type="button" id="followButtonClick">Follow</button>
            </div>
        {% endif %}

        <div class="products">
            <img src="{{ iteminfo.photo }}">

            <br>
            <h2 style="font-size: 20px">{{ iteminfo.item }}</h2>

            <h2>{{ iteminfo.price }}₩</h2>

            <p class="explain">{{ iteminfo.explain }}</p>
            {% if iteminfo.sold == true %}
                <p>판매완료</p>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    
        <div class="footer"></div>

    </body>
</html>