<!DOCTYPE html>

<html>
    <head>
        <title>트레이딩 사이트</title>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/item_edit.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/upload_photo.js') }}"></script>
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/dgu-logo.jpg') }}" height="70px">
            </a>
            <ul>
                <li><a href="{{ url_for('logout') }}">로그아웃</a></li>   
            </ul>
        </div>
    
        <h1>상품 정보 수정</h1>

        <div class="products">
            <img src="{{ iteminfo.photo }}" id="photo">

            <div class="productRegisterBox">
                <form action="{{ url_for('item_edit', itemid=itemid) }}" method="POST">
                    <fieldset>
                        <label for="productName">상품명</label>
                        <input type="text" name="productName" value="{{ iteminfo.item }}" placeholder="내용을 입력해주세요.">

                        <label for="productPrice">가격</label>
                        <input type="text" name="productPrice" value="{{ iteminfo.price }}" placeholder="내용을 입력해주세요.">

                        <label for="productExplain">상품 설명</label>
                        <textarea name="productExplain" placeholder="내용을 입력해주세요.">{{ iteminfo.explain }}</textarea>

                        <select class="productStatus" name="sold">
                            <option value="false">판매 중</option>
                            <option value="true">판매 완료</option>
                        </select>
                        <input id="filename" type="hidden" value="" name="filename" readonly="">
                        <button class="productButton" type="submit">상품 등록</button>
                    </fieldset>
                </form>
            </div>

            <div class="fileUploadDesign">
                <dl>
                    <p>
                        <label class="inputFileButton" for="multiFiles">
                            Upload
                        </label>
                        <input type="file" id="multiFiles" name="file" multiple="multiple"/>
                    </p>
                </dl>
            </div>
        </div>
    </body>
</html>