<!DOCTYPE html>

<html>
    <head>
        <title>트레이딩 사이트</title>
        <meta charset="UTF-8" >
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/dgu-logo.jpg') }}" height="70px">
            </a>

            <ul>
                <li><a href="#">{{ session['ID'] }}님 환영합니다!</a></li>
                <li><a href="{{ url_for('logout') }}">로그아웃</a></li>
            </ul>
        </div>

        <div class="pageList">
            <div class="bar">
                <h1>{{ session['ID'] }}님의 마이페이지</h1>
                <button class="productRegisterButton" onClick="location.href='/item_register'">상품 등록</button>
            </div>

            {% for entry in iteminfo %}
                <div class="products">
                    <a href="{{ url_for('viewitemspec', itemid=entry._id) }}">
                        <img src="{{ entry.photo }}">
                    </a>
                    <div class="productInfo">
                        <p>{{ entry.item }}</p>
                        <p>가격 : {{ entry.price }}₩</p>
                        {% if entry.sold %}
                            <p>상태 : 판매 완료</p>
                        {% else %}
                            <p>상태 : 판매 중</p>
                        {% endif %}
                    </div>

                    <button type="button" class="productEditButton" onClick="location.href='{{ url_for('item_edit', itemid=entry._id) }}'">상품 수정</button>
                </div>
            {% endfor %}
            </div>
        </div>
    </body>
</html>