<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>트레이딩 사이트</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename="images/dgu-logo.jpg") }}" height="70px">
            </a>
            <ul>
              <li><a href="{{ url_for('login') }}">로그인</a></li>
              <li><a href="{{ url_for('sign_up') }}">회원가입</a></li>
            </ul>
          </div>

          <script type="text/javascript">

            function idDupliCheck() {

              $('.nameInput').change(function () {
                $('#idCheckSuccess').hide();
                $('.idCheck').show();
                $('.nameInput').attr("checkResult", "fail");
              })

              if ($('.nameInput').val() == '') {
                alert('아이디를 입력해주세요!')
                return;
              }

              idCheck = document.querySelector('input[name="loginid"]');
              console.log(idCheck.value);

              $.ajax({
                //url: `/id/?userid=${idCheck.value}`,
                // url: `/id/${idCheck.value}`,
                url: '/id/' + ${idCheck.value},
                type: 'POST',
                dataType: "JSON",

                success: function (response) {
                  let msg = JSON.parse(response);

                  if (msg['message'] == 'id duplicated') {
                    alert('이미 존재하는 아이디입니다.');
                    idCheck.focus();
                    return;
                  } else if (msg['message'] == 'id ok') {
                    alert('사용 가능한 아이디입니다.');
                    $('.nameInput').attr("checkResult", "success");
                    $('#idCheckSuccess').show();
                    $('.idDupliCheck').show();
                    return;
                  }
                },
                error: function (response) {
                  alert ('error');
                }
              });
            }
          </script>

            <div class="loginbox">
                <h1>회원가입</h1>
                <form action="/signup" method="POST">
                  <fieldset>
                    <label for="loginid">아이디</label>
                    <input class="nameInput" type="text" name="loginid" placeholder="Username" checkResult="fail" required style="width: 80%">
                    <button type="button" class="idCheck" onclick="idDupliCheck()">아이디 중복 확인</button>
                    <img id="idCheckSuccess" style="display: none;">

                    <label for="loginpw">비밀번호</label>
                    <input type="password" name="loginpw" placeholder="Password">

                    <label for="loginpwcon">비밀번호 확인</label>
                    <input type="password" name="loginpwcon" placeholder="Password confirm">

                    <label for="name">이름</label>
                    <div class="nameInput">
                      <input type="text" name="name" placeholder="이름">
                    </div>

                    <button type="submit">회원가입</button>
                  </fieldset>
                </form>
              </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    </body>
</html>