<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>트레이딩 사이트</title>

        <!-- <link rel="stylesheet" href= {{ url_for('static', filename='css/login.css') }}> -->
        <link rel="stylesheet" href="static/css/signin.css?after">
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="./">
              <img src="static/images/dgu-logo.jpg?v=1" height="70px">
            </a>
            <ul>
              <li><a href="./login">로그인</a></li>
              <li><a href="./signup">회원가입</a></li>
            </ul>
          </div>

            <div class="loginbox">
                <h1>로그인</h1>
                <form action="/signin" method="POST">
                  <fieldset>
                    <label for="loginid">아이디</label>
                    <input type="text" name="loginid" placeholder="Username">
                    <label for="loginpw">비밀번호</label>
                    <input type="password" name="loginpw" placeholder="Password">

                    <button type="submit">로그인</button>
                  </fieldset>
                </form>
              </div>
        </div>
    </body>
</html>