<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>트레이딩 사이트</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename="images/dgu-logo.jpg") }}" height="70px">
            </a>
            <ul>
              <li><a href="{{ url_for('login') }}">로그인</a></li>
              <li><a href="{{ url_for('sign_up') }}">회원가입</a></li>
            </ul>
          </div>

            <div class="loginbox">
                <h1>회원가입</h1>
                <form action="/signup" method="POST">
                  <fieldset>
                    <label for="loginid">아이디</label>
                    <input type="text" name="loginid" placeholder="Username">

                    <label for="loginpw">비밀번호</label>
                    <input type="password" name="loginpw" placeholder="Password">

                    <label for="loginpwcon">비밀번호 확인</label>
                    <input type="password" name="loginpwcon" placeholder="Password confirm">

                    <label for="name">이름</label>
                    <div class="nameInput">
                      <input type="text" name="name" placeholder="성" style="margin-right: 64px">
                      <input type="text" name="name" placeholder="이름">
                    </div>

                    <button type="submit">회원가입</button>
                  </fieldset>
                </form>
              </div>
        </div>
    </body>
</html>