<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>트레이딩 사이트</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
    </head>

    <body>
        <div class="navbar">
            <a class="logo" href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename="images/dgu-logo.jpg") }}" height="70px">
            </a>
            <ul>
              <li><a href="{{ url_for('login') }}">로그인</a></li>
              <li><a href="{{ url_for('sign_up') }}">회원가입</a></li>
            </ul>
          </div>

          <div class="loginbox">
            <h1>회원가입</h1>
            <form action="/signup" method="POST" onsubmit="return checkAll()">
              <fieldset>
                <label for="loginid">아이디</label>
                <input class="nameInput" type="text" name="loginid" placeholder="Username" checkResult="fail" style="width: 80%" required>
                <button type="button" class="idCheck" onclick="idDupliCheck()">아이디 중복 확인</button>
                <img id="idCheckSuccess" src="{{ url_for('static', filename="images/idCheckimg.jpg") }}" style="display: none;">

                <label for="loginpw">비밀번호</label>
                <input type="password" name="loginpw" id="pw" onchange="confirmPw()" placeholder="Password" checkPw="fail" required>

                <label for="loginpwcon">비밀번호 확인</label>
                <input type="password" name="loginpwcon" id="pwcon" onchange="confirmPw()" placeholder="Password confirm" required>
                <p id="confirmMsg1" style="display:none">비밀번호가 일치합니다.</p>
                <p id="confirmMsg2" style="display:none;color:red">비밀번호가 틀립니다.</p>

                <label for="name">이름</label>
                <div class="userNameInput">
                  <input type="text" name="name" placeholder="이름" required>
                </div>

                <button type="submit">회원가입</button>
              </fieldset>
            </form>
          </div>
        </div>
    </body>
</html>